/* Carrusel */

.carousel-inner .carousel-item img {
  height: 30em;
  max-width: 100%;
  /*width: 10em;*/
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  /*border-radius: 20px;*/
}

/* Conócenos */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 4em;
  padding-bottom: 4em;
}


.logo-cpei{
  width: 200px;
  justify-self: center;
}

.separacion{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 0em;
  padding-bottom: 5em;
}


.contenedor1{
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto-encima{
  font-size:45px;
  position: absolute;
  top: 10px;
  left: 60px;
  color: white;
}

.texto-encima2{
  font-size:45px;
  position: absolute;
  top: 70px;
  left: 200px;
  color: white;
}

.centrado{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.logo-conócenos {
    justify-self: center;
    width: 304px;
    height: 304px;
}

.subtitulo {
  height: 70px;
}
.fondoGris {
  position: absolute;
  margin-top: 30px;
  /*z-index: -1;*/
} 

.cpeiPub {
  /*top: 10px;*/
  margin-left: 10%;
}

.cuerpo {
  height: 145%;
  max-height: 90%;
}

.bluesky {
  position: absolute;
  margin-top: 5.5%;
  z-index: -1;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
}

/*formando grid*/
.gridm {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 0.5em;
  text-align: center;
  margin-right: 1%;
  
}

/*formando grid*/
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding-left: 50px;
  text-align: center;
  max-width: 96%;
  width: 96%;
  height: 73%;
}

/*tamaño a los div dentro de grid2*/
.grid2 div {
  width: 100%;
  height: 100%;
}

/*estilos a imagenes dentro de grid2*/
.grid2 img {
  width: 90%;
  height: 80%;
  text-align: center;
  margin-top: 11%;
  max-width: 100%;
}

/*estilos a los videos dentro de grid2*/
.grid2 video {
  width: 90%;
  height: 100%;
  text-align: center;
  margin-top: -9.5%;
  max-width: 90%;
}

/*con respecto al div de imagen*/
.container {
  width:100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 100%;
}

/*estilos a imagen*/
.infografia {
  text-align: center;
  margin-top: 0%;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/*Estilo a botón VER MAS*/
/* Rectangle 238 */
/*.boton-vermas {
position: absolute;
left: 297px;
background: #1B768E;
border-radius: 5px;
}/*

/*------Eventos----------*/
/*LECCION APRENDIDA:
CABE MENCIONAR QUE SE USÓ MATERIALIZE, PERO ES INCOMPATIBLE CON BOOTSTRAP */

.fondoNaranja {
  position: absolute;
  margin-top: 6.5%;
  z-index: -1;
  width: 100%;
  height: 50%;
  max-width: 100%;
  min-width: 100%;
}

/* Aliados Estratégicos */

.aliados {
  height: 75vh;
  width: 100%;
  background-color: #1C768D;
}

.aliados h1 {
  position: absolute;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;

  color: #FFFFFF;

  padding-top: .75em;
  padding-left: 2em;
}

.aliados-subra {
  position: absolute;
  margin-top: 5.3em;
}

.imagenes-container {
  padding-top: 6.5em;
  padding-left: 10em;
  padding-right: 10em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aliados-img {
  height: 40%;
  width: 40%;
  object-fit: cover;
}

/* Directiva General */

.direc {
  height: 75vh;
  width: 100%;
  background-color: #FFFFFF;
}

.direc-tit {
  padding-top: 2em;
  padding-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tit {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  color: #1C768D;
}

.direc-lineizq {
  transform: scaleX(-1);
}

.container-directores {
  display: flex;
  padding: .5em 2em;
  justify-content: space-between;
}

.card-director {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  align-items: center;
}

.card-director h1 {
  padding-bottom: .4em;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.card-director p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #7D7D7D;
}
