@charset "utf-8";

.img-box{
    width: 90%;
    margin: 10px auto;
    position: relative;
}
.owl-carousel .owl-item.active.center{
    transform: scale(1.3);
    z-index: 999;
    -webkit-transform: scale(1);
    transform: scale(1);
    
}

.owl-carousel .owl-item{
    transform: scale(0.7);
    padding: 10px 0px;
    transition: all 0.5s;
    
}

.owl-carousel .owl-item.active.center .img-box{
    border: 1px solid #000;
}